.wrapper{
	width: 500px;
    margin: auto;
    background-color:#e3a9e6;
    border-radius: 30px;
    box-shadow: 2px 4px 10px #333;
}
h1{
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	line-height: 42px;
}
label{
	float: left;
	width: 200px;
	font-size: 24px;
}
.btn{
	border: 1px solid #333;
    padding: 15px;
    border-radius: 10px;
    background: #decfe8;
}
.value{
	padding: 15px;
}
.button{
	text-align: center;
	margin-top: 20px;
}
#result {
    margin-top: 43px;
    color: #000;
    font-size: 28px;
}
#result h3 {
    padding: 9px;
}